@font-face {
    font-family: IRANSans;
    src: url(./IRANSansWeb/IRANSansWeb.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: IRANSans;
    text-decoration: none;
    color: rgb(13, 13, 13);

}

body {
    direction: rtl;
    margin: 0 auto;
    font-family: IRANSans;
   
}
/* منوافقی mene ogogi  */
.container {
    margin-top: 100px;
    width: auto
    ;
    min-height: 15px;
}

ul.menu {
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 40px;
}

ul.menu .item {
    display: inline-block;
    position: relative;
}

ul.menu a {
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 20px 16px;
    position: relative;
}

ul.menu a:hover {
    color: blue;
    padding: 9px 10px;
    box-shadow: 2px 2px 2px 14px rgb(245, 242, 242) inset;
}

ul.menu .sub-menu {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 160px;
}

ul.menu .sub-item a {
    position: relative;
    color: blue;
    line-height: 2rem;

}

ul.menu .sub-item a:hover {
    color: black;
    box-shadow: 1px 2px 3px 3px rgb(224, 230, 250) inset;
    border-radius: 8px;
    line-height: 3rem;

}

ul.menu .item:hover>.sub-menu,
 li.sub-item:hover>ul.sub-menu {
    display: block !important;

}

ul.menu ul.sub-menu .sub-menu {
    display: none;
    right: 100%;
    top: 0;

}
/* ul.menu ul.sub-menu .sub-menu */

.there {
    min-width: 100px;
    left: 0;
}

 .svg-menu {
    width: 16px;
    color: brown;
    font-weight: 900;
    text-align: start;
    position: absolute;
    margin-top: 8px;
}
ul.menu .svg-menu:hover {
    margin-top: 30px;
}
/* menubar */
/* .menubar{
    line-height: 2rem;
    position: relative;
  
}
.sub-menu{
  display: block;
    position: relative;
    top: 100%;
    right: 0;
}
.menebar-item{
    display: none;
    position: absolute;
    top: 0;
    right: 90%;
}
.sub-item.menebar-item .sub-item .navbar:hover{
    display: block;
}
.navbar{
  
    top: 100%;
    right: 0;
} */